<div id = 'signup' class = "invisible">
  <form name="signup" action="/signup" method="post">

    <input type="text" name="username" placeholder = "username">
    <input type="password" name="password" placeholder = "password">

    <input type="submit" value="Create">
  </form>
</div>